.client {
	padding-left: 50px;
	padding-right: 50px;
}

.client_action_bar {
	margin-top: 25px;
}

.client_action_bar a {
	font-size: 14px;
}

.client_action_bar_option {
}

.client hr {
	border: 1px solid #dcdcdc;
}

.client_caption {
	margin-top: 30px;
}

.disp_opt_caption {
}

.client_list {
}

.client_info_panel {
	background-color: white;
	padding: 10px;
	margin: 10px;
}

.client_info_expand {
	padding-top: 30px;
	height: 100%;
	margin-left: 15px;
}

.client_profile {
	padding-left: 50px;
	padding-right: 50px;
}