.row {
	margin-left: 0px;
	margin-right: 0px;
}

.label {
	background-color: transparent;
}

.select_option {
	margin-top: 3px;
}

.select_option .label {
	color: #8e8e8e;
	font-weight: normal;
}

.select_option input {
	background-color: #e1e1e1;
	width: 160px;
}

.select_option .label:focus {
	border: 1px solid #6e6e6e;
}

.select_button {
	border-radius: 0px;
	background-color: #8cc10d;
	border: none;
	border-bottom: 2px solid #719e07;
	width:  24px;
	height: 22px;
}

.sub_caption {
	font-size: 16px;
	color: white;
	margin: 0px;
	padding: 10px 0px;
	background-color: #0282a5;
}

.sub_content {
	background-color: white;
}

.sub_content #value {
	padding-top: 30px;
	font-size: 40px;
	color: #7f7f7f;
}

.sub_content #unit {
	margin-top: 12px;
	padding-bottom: 30px;
	font-size: 19px;
	color: #7f7f7f;
}

.cv_table {
	text-align: center;
	text-size: 15px;
	width: 100%;
}

.cv_table tr {
	border: 1px solid #eeeeee;
}

.cv_table tr th{
	height: 40px;
	background-color: #0282a5;
	font-size: 18px;
	font-weight: normal;
	color: #ffffff;
	border: 1px solid #eeeeee;
}

.cv_table tr td {
	background-color: #ffffff;
}

.cv_td_action_pos {
	float: left;
}

.cv_btn {
	font-size: 16px;
	color: #ffffff;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-bottom: 3px solid #788e43;
	background-color: #8cc10d;
	padding: 10px;
	font-weight: bold;
}

.cv_signin_btn {
	font-size: 15px;
	color: #ffffff;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-bottom: 3px solid #788e43;
	background-color: #8cc10d;
	padding: 10px 40px 10px 40px;
	font-weight: bold;
}

.cv_signin_btn:hover {
	border-bottom: 3px solid #788e43;
	color: #ffffff;
	background-color: #a1d428;
}

.cv_btn:hover {
	background-color: #a1d428;
	text-decoration: none;
	color: white;
}

.cv_btn:focus {
	background-color: #a1d428;
	text-decoration: none;
	color: white;
}

.cv_btn:active {
	background-color: #7ea81b;
	text-decoration: none;
	color: white;
}

.frame_caption {
	color: #38294a;
	font-weight: bold;
	font-size: 25px;
}

.client_info {
	margin-left: 20px;
}

.img_circle {
	border-radius: 50%;
}

.client_info .avatar_small img {
	width: 40px;
	height: 40px;
}

.client_info .avatar_normal img {
	width: 90px;
	height: 90px;
}

.client_info .avatar_large img {
	width: 150px;
	height: 150px;
}

.client_info .info,.info_email,.info_detail {
	text-align: left;
	padding-left: 15px;
}

.client_info .info_email {
	padding-top: 19px;	
}

.client_info .info_email #email {
	padding-top: 5px;
	font-size: 11px;
	color: #1aa4b1;
}

.client_info .info_detail #name {
	padding-top: 6px;
	font-size: 18px;
	font-weight: bold;
}

.client_info .info_detail #type {
	font-size: 12px;
	color: #606060;
}

.client_info .info_detail #phone {
	font-size: 13px;
	color: #1aa4b1;
}

.client_info .info_detail #email {
	font-size: 12px;
	color: #1aa4b1;
}

.client_info .info_detail_large {
	padding-left: 30px;
}

.client_info .info_detail_large #name {
	line-height: normal;
	padding-top: 5px;
	font-size: 30px;
	font-weight: bold;
}

.client_info .info_detail_large #type {
	padding-top: 10px;
	font-size: 18px;
	color: #606060;
}

.client_info .info_detail_large #phone {
	font-size: 24px;
	padding-top: 20px;
	color: #1aa4b1;
}

.client_info .info_detail_large #email {
	padding-top: 10px;
	font-size: 24px;
	color: #1aa4b1;
}

.client_info .info div {
	margin-top: 28px;
}

.file_type_icon {
	width: 20px;
	height: 25px;
}