.contact {
	padding-left: 50px;
	padding-right: 50px;
}

.contact_action_bar {
	margin-top: 25px;
}

.contact_action_bar a {
	font-size: 14px;
}

.contact_action_bar_option {
}

.contact hr {
	border: 1px solid #dcdcdc;
}

.contact_caption {
	margin-top: 30px;
}

.disp_opt_caption {
}

.contact_list {
}

.contact_info_panel {
	background-color: white;
	padding: 10px;
	margin: 10px;
}

.contact_info_expand {
	margin-top: 30px;
	height: 100%;
	margin-left: 15px;
}

.contact_profile {
	margin-top: 30px;
	padding-left: 50px;
	padding-right: 50px;
}

.contact_profile #start_session {
	margin-top: 40px;
}

.new_contact {
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 30px;
}
