.contact {
}

.contact_action_bar {
}

.contact_action_bar #new_contact {
	font-size: 14px;
}

.contact_action_bar_option {
	margin-top: 10px;
}

.contact hr {
	border-top: 1px solid #dcdcdc;
}

.contact_caption {
	margin-top: 30px;
}

.disp_opt_caption {
	margin-top: 5px;
}

.disp_opt_caption #search_button {
	margin-top: -4px;
	padding-left: 0px;
}

.contact_list {
	text-align: center;
}

.contact_info_panel {
	background-color: white;
	padding: 15px 0px 15px 5px;
	border: 15px solid #eee;
	margin: 10px;
}

.contact_info_expand {
	margin-top: 35px;
	height: 100%;
	margin-right: 15px;
}

#contact_type_list {
	background-color: grey;
  	z-index: 1;
}

#action_bar {
	margin-top: 40px;	
}

#action_bar a i {
	font-size: 30px;
	vertical-align: middle;
}

#action_bar a:hover {
	text-decoration: none;
}

#start_session {
	margin-left: 20px;
}

#client_profile {
	margin-top: 20px;
	min-height: 40px;
	margin-bottom: 0px;
}

.client_info #name i {
	color: lightgrey;
	font-size: 15px;
}

#client_profile #cp_navbar ul {
	height: 40px;
	padding: 0px;
	width: 100%;
}

#client_profile #cp_navbar ul li {
	text-align: center;
	border-right: 1px solid white;
	vertical-align: middle;
	padding: 0px;
	width: 20%;
}

#client_profile #cp_navbar ul li:last-child {
	border: none;
}

#client_profile #cp_navbar ul li a {
	display: block;
	padding: 10px;
	color: white;	
}

#client_profile #cp_navbar ul li a:hover {
	background-color: #2fc0e5;
}

#client_profile #cp_navbar ul li a:active {
	background-color: #0282a3;
}

#cp_navbar {
	padding: 0px;
}

.new_contact {
	padding: 50px;
	role: dialog;
	display: none;
}

.new_contact #contact_img {
	height: 100px;
	width: auto;
}

.contact_description {
	margin: 0px;
	padding-top: 20px;
	min-height: 600px;
	background-color: white;
}

.contact_description #contact_img {
	height: 100px;
	width: auto;
}

.notes_side {
	padding-left: 30px;
}

.notes_side p {
	font-weight: bold;
	color: #333;
}

.notes_side p i {
	color: #8cc10d;
	font-size: 18px;
}

.notes_side ul {
	list-style-type: none;
	padding-left: 5px;
}

.notes_side ul li {
	text-align: left;
	margin-bottom: 15px;
}

.notes_side ul li a {
	border-bottom: 1px dashed #00a2cb;
}

.notes_side ul li a:hover {
	text-decoration: none;
}

.notes_side ul li a.active {
	font-weight: bold;
}

.notes_content {
	padding: 5px 30px;
}

.contact_sessions {
	padding: 20px 50px;
}

.contact_upcomming_sessions {
	padding-top: 30px;
}

.contact_table {

}

.contact_table {
	margin-top: 25px;
}

.contact_table thead tr th {
	text-align: center;
	background-color: #bbb !important;
}

.contact_table thead tr th#date_time {
	width: 25%;
}

.contact_table thead tr th#location {
	width: 50%;
}

.contact_table tr td {
	border: none;
	height: 110px;
	color: #3a2a4d;
	vertical-align: middle !important;
}

.contact_invoices {
	padding: 20px 50px;
}

.contact_table tr td #action_record {
}

.contact_table tr td #btn_record {
	margin-left: 15px;
	font-size: 12px;
}

.contact_table tr td #action_edit {
	margin-left: 10px;
	margin-top: 10px;
}

.contact_table thead tr th#date_sent {
	width: 30%;
}

.contact_table thead tr th#date_due {
	width: 30%;
}

.contact_table thead tr th#amount {
	width: 15%;
}

.contact_details {
	padding: 10px 50px;
}

.contact_details h4 {
	font-weight: bold;
}

.contact_details h4 i {
	font-size: 15px;
	color: #ddd;
}

.contact_contract {
	padding: 20px 50px;
}

#session_duration {
	margin-top: -4px;
}