.perf_board {
	margin: 10px 0px;
	padding: 0px !important;
	border-right: 1px solid #eee;
	text-align: center;
}

.perf_board#pb_caption {
}

.perf_option .label {
	color: #8e8e8e;
	font-weight: normal;
}

.perf_view_report {
	margin-top: 20px;
}

.frame_upcoming_sessions {
	margin-top: 40px;
}

.us_table {
	margin-top: 25px;
}

.us_table tr {
	border: 1px solid #eeeeee;
}

.us_table tr th {
	text-align: center;
}

.us_table tr td {
	border: none;
	height: 110px;
	color: #3a2a4d;
	vertical-align: middle !important;
}

.us_table tr td #log {
	margin-left: 20px;
}

.us_table tr td #record, #edit, #delete {
	margin-top: 12px;
	margin-left: 8px;
}

.us_action_log {
	font-size: 13px;
}

.us_view_all {
	margin-top: 15px;
}