.select_option {
	margin-top: 10px;
}

.perf_option .label {
	color: #8e8e8e;
	font-weight: normal;
}

.perf_table {
	margin-top: 20px;
}

.perf_table tr th {
	text-align: center;
}

.perf_table tr td {
	height: 180px;
	border: 1px solid #eeeeee;
	text-align: center;
}

.perf_table tr td {
	font-weight: normal;
	color: #a5a5a5;
}

.perf_table tr td p#value {
	padding-top: 6px;
	padding-bottom: 6px;
	font-size: 40px;
	line-height: normal;
}

.perf_table tr td p#unit {
	padding-top: 6px;
	padding-bottom: 6px;
	font-size: 18px;
	line-height: normal;
}

.perf_view_report {
	margin-top: 20px;
}

.frame_upcoming_sessions {
	padding-top: 40px;
}

.us_table {
	margin-top: 25px;
}

.us_table tr {
	border: 1px solid #eeeeee;
}

.us_table tr th {
	text-align: center;
}

.us_table tr td {
	border: none;
	height: 110px;
}

.us_table tr td a {
	margin-right: 8px;
}

.us_action_log {
	font-size: 13px;
}

.us_view_all {
	margin-top: 15px;
}