.document {
}

.doc_action_bar {
}

.doc_action_bar a {
	font-size: 14px;
}

.doc_action_bar_option {
	margin-top: 5px;
}

.doc_action_bar_option .label {
	margin-top: 4px;
}

.document hr {
	border: 1px solid #dcdcdc;
	margin: 30px 0px;
}

.doc_list_table {
}

.doc_list_table tr {
	border: 1px solid #eeeeee;
	text-align: center;
}

.share_with_list .client_info {
	min-width: 1px;
}

.doc_list_table tr td {
	border: none;
	height: 110px;
	vertical-align: middle !important;
}

.doc_list_table tr td a {
	font-size: 12px;
	margin-right: 8px;
}

.doc_list_table tr td #btn_download {
	margin-left: 15px;
}

.doc_list_table tr td #doc_remove {
	margin-left: 15px;
	margin-top: 10px;
}