.invoice {
}

.invoice_action_bar a {
	font-size: 14px;
}

.invoice_action_bar_option {
	margin-top: 9px;
}

.outstanding_title {
	padding-top: 5px;
}

.paid_title {
	padding-top: 50px;
}

.invoice hr {
	border: 1px solid #dcdcdc;
}

.invoice_list_table {
	margin-top: 10px;
}

.invoice_list_table tr th {
	text-align: center;
}

.invoice_list_table tr {
	border: 1px solid #eeeeee;
}

.invoice_list_table tr td {
	border: none;
	height: 110px;
	vertical-align: middle !important;
}

.invoice_list_table tr td #action_record {
}

.invoice_list_table tr td #btn_record {
	margin-left: 15px;
	font-size: 12px;
}

.invoice_list_table tr td #action_edit {
	margin-left: 10px;
	margin-top: 10px;
}