= provide(:content_name, "CONTACTS > #{@contact.name}")

.row
	= render 'contacts/showinfo'
.row
	.col-md-12#client_profile
		.row
			= render 'contacts/shownav'
		.row.contact_description
			.contact_details
				- 3.times do
					.col-md-5.col-xs-11
						%h4
							Lorem lpsum 
							%i.fa.fa-pencil
						%p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias
						%br
					.col-md-1.col-xs-1