#main {
	margin: 0px;
}

#nav_header {
	background-color: #00a1cb;
}

.navbar-collapse.in {
	overflow-y: none;
}

#sidebar {
	background-color: #00a1cb;
	top: 0px;
	padding: 0px;
	margin: 0px;
}

#sidebar ul {
	padding-left: 0px;
}

#sidebar ul li {
	list-style: none;
	text-align: center;
	border-bottom: 1px solid #14add6;
	color: white;
}

#sidebar ul li:first-child h5 {
	display: block;
	position: relative;
	padding: 10px;
}

#sidebar ul li a {
	border: none;
	display: block;
	position: relative;
	padding: 30px 15px 20px 15px;
	color: white;
	background-color: #00a1cb;
	border-radius: 0px;
}

#sidebar ul li a:hover {
	text-decoration: none;
	background-color: #28bce3;
	color: white;
}

#sidebar ul li a:active {
	background-color: #0283a5;
	color: white;
}

#content_page {
	margin-right: 15px;
}

.content_header {
	margin-top: 10px;
	height: 40px;
}

.content_header h5 {
	color: #54426a;
}

.content_header h5 a {
	color: #9f9f9f;
}

.content_header h5 a:hover {
	text-decoration: none;
}

.content_yield {
	margin-top: 40px;
	margin-left: 20px;
	margin-right: 20px;
}