.nav_side_bar
  %ul.nav.nav-list
    %li
      %a
        %p COACHVANTAGE
    %li
      %a
        %i.icon-home.icon-white
        %p Dashboard
    %li
      %a
        %i.icon-calendar.icon-white
        %p Schedule
    %li
      %a
        %i.icon-user.icon-white
        %p Clients
    %li
      %a
        %i.icon-envelope.icon-white
        %p Invoices
    %li
      %a
        %i.icon-list.icon-white
        %p Coaching Log
    %li
      %a
        %i.icon-file.icon-white
        %p Documents
    %li
      %a
        %i.icon-signal.icon-white
        %p Reports